@media (max-width: 992px) {
    .d-flex.align-items-start#navBar {
      display: none !important
    }
  }

  .navLink{
    padding: 10px;
  }


  


  .nav-link {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;  color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    padding: 8px;
  }
  
  .nav-link:hover {
    background-color: #f0f0f0; /* Change background on hover */
    padding: 8px;
  }
  
  .active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    padding: 8px;
  }
  
  
    .accomodation {
      flex-direction: column;
    }
  
  
  input.form-control, textarea.form-control, select.form-select {
    padding: 1rem 1.2rem;
    /* margin: 1rem; */
    border-radius: 2rem;
    border: none;
    box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075), 6px 6px 6px rgba(255, 255, 255, 0.781);
    outline: none;
    background-color: inherit;
    color: rgb(161, 161, 161);
  }