.pending-row {
  display: flex;
  padding: .5rem .5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));

  >i{
    margin-right: 10px;
  }
}


.pending-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row{
  flex-wrap: unset;
  margin: 10px;
  gap: 10px;
}

hr{
  margin: 0px;
}

/* @media (max-widthL 576px){
  .profilePic{
    
  }
} */



@media (max-width: 992px){
  .d-flex.align-items-start#navBar{
    display: none !important
  
  }
}


a{
  color: unset;
  text-decoration: none;
}

.card{
  &.col-sm-6{
    display: flex;
    align-items: center;
  }

  /* &.col-sm, &.col-sm-6, &.col-sm-7, &.col-sm-5{
    background-color: rgb(27, 27, 27, 0.2);
  }   */
}

/* .d-flex.align-items-start#navBar{
  background-color: rgb(27, 27, 27, 0.2);
} */


@media (max-width: 768px){
  .tasksAndExpense{
    display: flex;
    flex-direction: column;

    >.card.col-sm-5{
      width: 100%;
    }

    >.card.col-sm-7{
      width: 100%;
    }
  }
  .row{
    &.quickAccess{
      display: flex;
      flex-direction: column;
    }

    &.chart{
      display: flex;
      flex-direction: column;

      >.card.col-sm-6{
        width: 100%;
      }
    }
  }

  .accomodation{
    flex-direction: column;
  } 
}

*{
  background-color: #1B1B1B;

}

a, span{
  color: white;
}