.pending-row {
  display: flex;
  padding: .5rem .5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));

  >i {
    margin-right: 10px;
  }
}


.pending-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row {
  flex-wrap: unset;
  margin: 10px;
  gap: 10px;
}

hr {
  margin: 0px;
}

/* @media (max-widthL 576px){
  .profilePic{
    
  }
} */



@media (max-width: 992px) {
  .d-flex.align-items-start#navBar {
    display: none !important
  }
}


a {
  color: unset;
  text-decoration: none;
}

.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &.col-sm-6 {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .tasksAndExpense {
    display: flex;
    flex-direction: column;

    >.card.col-sm-5 {
      width: 100%;
    }

    >.card.col-sm-7 {
      width: 100%;
    }
  }

  .row {
    &.quickAccess {
      display: flex;
      flex-direction: column;
    }

    &.chart {
      display: flex;
      flex-direction: column;

      >.card.col-sm-6 {
        width: 100%;
      }
    }
  }

  .accomodation {
    flex-direction: column;
  }
}


input {
  padding: 1rem 1.2rem;
  /* margin: 1rem; */
  border-radius: 2rem;
  border: none;
  box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075), 6px 6px 6px rgba(255, 255, 255, 0.781);
  outline: none;
  background-color: inherit;
  color: rgb(161, 161, 161);
}


button {
  color: #090909;
  padding: 0.35em 0.85em;
  font-size: 16px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}


button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}